<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %>

 <!-- Nav -->
  <%- include('partials/nav') %>

    <div class="container-fluid">
      <!-- SIDE BAR MENU START -->
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Work From Home</li>
              <li class="active"><a href="#">Office Supplies</a></li>
              <li><a href="#">Lounge Wear</a></li>
              <li><a href="#">Emotional Support Animals</a></li>
              <li><a href="#">Therapy</a></li>
              <li class="nav-header">COVID</li>
              <li><a href="#">Masks</a></li>
              <li><a href="#">Bulk Food</a></li>
              <li><a href="#">Hand Sanitizer</a></li>
              <li><a href="#">At Home Gym</a></li>
              <li><a href="#">Video Games</a></li>
              <li class="nav-header">Fashion</li>
              <li><a href="#">Clothes</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
        </div>
        <!-- SIDE BAR MENU END-->

        <!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Marketplace</h1>
            <p>
              An app where you can put different types of things up for sale.
              This lets buyers find the items they are looking for quickly, and
              easily contact sellers.
            </p>
            <p>
              <a href="/upload" class="btn btn-primary btn-large"
                >Sell Now &raquo;</a
              >
            </p>
          </div>
          <p>
            Sort Price By:
            <a class="btn btn-small" href="/?price=true" type="button"
              >High to low</a
            >
            <a class="btn btn-small" href="/" type="button">Low to high</a>
          </p>

          <div class="container" style="display: inline-block">
            <ul class="thumbnails dark-magic">
              <% for(let ele of data ) { %>

              <li class="span3">
                <div class="thumbnail">
                  <div class="caption">
                    <img src="uploads/<%= ele.thumbnail %>" style="width:90%"/>
                    <h4><%= ele.name %> - $<%= ele.price %></h4>
                    <p>
                      <a
                        class="btn btn-primary"
                        href="/products/<%= ele.id %>"
                        role="button"
                        >View product</a
                      >

                      <a
                        class="btn favBtn"
                        role="button"
                        data-productid="<%=ele.id%>"
                        data-fav_prod_id="<%=ele.fav_prod_id %>"
                        data-user_id="<%=ele.user_id %>"
                      >
                        <span class="fas fa-heart"></span>
                      </a>
                    </p>
                </div>
              </li>

              <% } %>
            </ul>
          </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->

    <%- include('partials/login-modal') %>

  </body>
</html>
