<!DOCTYPE html>
<html lang="en">




    <!-- Head -->
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/product.css" type="text/css" />
    <meta charset="utf-8" />


    
    <script type="text/javascript" src="/scripts/product-page.js"></script>


    <!-- Nav -->
    <%- include('partials/nav') %>

    <!-- Login-modal -->
    <%- include('partials/login-modal') %>

    <!-- Product -->
    <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6">
              <div style="margin: 100px">
                <img src="/uploads/<%= product.thumbnail %>.png" />
              </div>
            </div>
            <div class="span3" style="margin-top: 100px;">
              <span>
                <h1 id="product-name"><%= product.name %></h1>
              </span>

              <h2 id="product-price" class="price">$<%= product.price %></h2>
              <label for="description" class="fcf-label">Description:</label>
              <p id="product-description"><%= product.description %></p>
              <label for="stock" class="fcf-label">Stock:</label>
              <p id="product-description"><%= product.stock %></p>
              <button type="button" id="btnDelte" data-productid="<%= product.id %>">Delete</button>
          <p></p>
            <p><button type="button" id="btnSeller">Contact Seller</button></p>
          <!-- </form> -->
          <link href="contact-form.css" rel="stylesheet" />





          <div class="fcf-body" >
            <div id="fcf-form">
              <!-- <h3 class="fcf-h3">Contact Seller</h3> -->
              <button type="button" id="btnHide">Hide Message Form</button>
              <form
                id="fcf-form-id"
                class="fcf-form-class"
                > <div id="showMessages">

                </div>
                <div class="fcf-form-group" >
                  <div class="fcf-input-group">
                  <div id="noValid">
                    <p>please enter text below</p>
                  </div>
                    <textarea
                    id="Message"
                    name="Message"
                    class="fcf-form-control"
                    rows="6"
                    maxlength="3000"
                    required
                    placeholder="Your message"
                    ></textarea>
                  </div>
                </div>
                <div class="fcf-form-group">
                  <input type="hidden" id="product_id"
                  value="<%= product.id %>" name="product_id" >

                </input>
                <button
                type="button"
                id="fcf-button"
                class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block"
                data-productid="<%= product.id %>"
                >
                Send Message
              </button>

            </div>
                <div class="fcf-credit" id="fcf-credit"></div>
                </form>




            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </body>
</html>
