<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <%- include('partials/head') %>

    <!-- Nav -->
    <%- include('partials/nav') %>

    <!-- Login-modal -->
    <%- include('partials/login-modal') %>

    <!-- Product -->
      <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6">
              <div style="margin: 100px">
                <img src="/uploads/<%= product.thumbnail %>" />
              </div>
            </div>
            <div class="span3" style="margin-top: 100px;">
              <span>
                <h1 id="product-name"><%= product.name %></h1>
              </span>

              <h2 id="product-price" class="price">$<%= product.price %></h2>
              <label for="description" class="fcf-label">Description:</label>
              <p id="product-description"><%= product.description %></p>
              <label for="stock" class="fcf-label">Stock:</label>
              <p id="product-description"><%= product.stock %></p>
              <form action="/products/<%= product.id %>/messages" method="GET">
              <p><button type="submit">Contact Seller</button></p>
            </div>
          </div>

  </body>
</html>
