<!DOCTYPE html>
<html lang="en">




    <!-- Head -->
    <%- include('partials/head') %>
    <script type="text/javascript" src="/scripts/product-page.js"></script>
  <body>
    <!-- Nav -->
    <%- include('partials/nav') %>

    <!-- Login-modal -->
    <%- include('partials/login-modal') %>

    <!-- Product -->
    <div class="row-fluid">
      <div class="span4">
        <div class="thumbnail" style="margin-left: 100px;">
          <img src="/uploads/<%= product.thumbnail %>.png" style="width: 300px;">
          <div class="caption">
            <h3><%= product.name %></h3>
            <h4>Price: $<%= product.price %></h4>
            <h4>Stock: <%= product.stock %></h4>
            <p><%= product.description %></p>
          </div>
        </div>
      </div>
      <div class="span8">
        <form>
          <fieldset>
            <div class="row-fluid">
              <div class="span6">
                <legend>Leave a message</legend>
                <label>Ask a question</label>
                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" requiredplaceholder="Your message"></textarea>
                <input type="hidden" id="product_id" value="<%= product.id %>" name="product_id" ></input>
                <br>
                <button type="button" id="fcf-button" class="btn fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block" data-productid="<%= product.id %>">Send Message</button>
              </div>
              <div class="span6">
                <div style="margin-right: 100px">
                  <legend>Messages</legend>
                  <form id="fcf-form-id" class="fcf-form-class"> <div id="showMessages"></div>
                    <div class="fcf-credit" id="fcf-credit"></div>
                  </form>

                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </body>
</html>
